.secciontrabajos {
  padding: 20px;
  background-color: #90cca7;
  position: relative;
}

.titulotrabajos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.carrusel-con-flechas {
  position: relative;
  display: flex;
  align-items: center;
}

.trabajos-carrusel {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  width: 100%;
}

.trabajos-carrusel::-webkit-scrollbar {
  display: none;
}

.imagenes-scroll {
  display: inline-flex;
  gap: 20px;
  padding: 10px;
}

.collage-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

/* Flechas */
.flecha {
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.flecha.izquierda {
  left: 0;
}

.flecha.derecha {
  right: 0;
}

.flecha:hover {
  background-color: rgba(0,0,0,0.7);
}

.galeria{
  padding-left: 20px;
  color: blue;
}
