.seccionone {   
  background-image: url("../../assets/Background/maps.jpg");  
  height: 50vh;
  margin-top: 5rem;
  position: relative;
  background-size: cover;
  background-position: center center;
  scroll-margin-top: 10rem;
}

/* ===================== */
/*    Capa superpuesta    */
/* ===================== */
.overlayseccionone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 20px;
}

/* ===================== */
/*    TEXTO DE LA CAPA   */
/* ===================== */
.overlayseccionone h1 {
  font-size: 4rem; /* Tamaño grande para h1 */
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.overlayseccionone p {
  font-size: 2rem;
  padding: 0 10px;
  color: white !important;
  height: 10rem;
  line-height: 1.5;
}

/* ===================== */
/*   RESPONSIVIDAD PARA MÓVILES */
/* ===================== */
@media (max-width: 850px) {
  .seccionone {
    height: 30vh; /* Reducimos la altura para pantallas más pequeñas */
    margin-top: 0.5rem;
  }

  .overlayseccionone h1 {
    padding-top: 30px;
    font-size: 2.3rem; /* Ajustamos el tamaño del texto en pantallas más pequeñas */
    color: white !important;
  }

  .overlayseccionone p {
    font-size: 1.5rem; /* Reducimos el tamaño del párrafo para móviles */
    padding: 0 5px;
    color: white !important;
  }
}

@media (max-width: 400px){
  .seccionone {
    height: 25vh; /* Reducimos la altura para pantallas más pequeñas */
    margin-top: 0.5rem;
  }

  .overlayseccionone h1 {
    padding-top: 10px;
    font-size: 1.5rem; /* Ajustamos el tamaño del texto en pantallas más pequeñas */
    color: white !important;
  }

  .overlayseccionone p {
    font-size: 0.8rem; /* Reducimos el tamaño del párrafo para móviles */
    padding: 0 5px;
    color: white !important;
  } 
}

  
